

footer {
  padding-left: 15px;
  padding-right: 15px
}
table td,th{
    text-align :center;
}
#sidebar {
    padding:15px;
    margin-top:10px;
    width: auto;
    padding-right: 100px;
    height: 100%;
}
td.details-control {
    background: url("../images/details_open.png") no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url("../images/details_close.png") no-repeat center center;
    
}
td.table-controls {
    background: url("../images/details_open.png") no-repeat center center;
    cursor: pointer;
}
tr.shown td.table-controls {
    background: url("../images/details_close.png") no-repeat center center;
    
}
.container {
    height: 400px;
    width: 400px;
    
}
footer {
  position: absolute;
  bottom: 0;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    overflow: visible;
    height: 0;
}

.f175 {
    font-size: 1.75rem !important;
}

.link-dec {
    text-decoration: none;
    color: darkred !important;
}

.bg-grey {
    background: #9e9797 !important;
}